<link href="~/styles/bulma/css/bulma.min.css" rel="stylesheet" />
<script src="~/scripts/jquery-3.7.1.min.js"></script>
<script src="~/scripts/toastr.min.js"></script>
<link href="~/styles/toastr.min.css" rel="stylesheet" />

<div class="layout layoutFixed">
	<div id="loginform" class="login-form" style="width: 380px;padding: 20px;border: 1px solid #00d1b2;border-radius: 8px;">
		<div class="logo" style="display:flex; justify-content:center; align-items:center;">
			<img style="width: 86px;border-radius: 100px;" src="~/image/logo.png" />
		</div>

		<div class="block">
			<label for="email">Email</label>
			<input id="email" class="input is-primary" type="email" placeholder="x.d email@gmail.com" />
		</div>
		<div class="block">
			<label>Password</label>
			<input id="password" class="input is-primary" type="password" placeholder="********" />
		</div>
		<div class="block" style="display: flex;justify-content: space-evenly;align-items: center;">
			<button onclick="onToggle()" class="button is-primary is-light">Registration</button>
			<button onclick="onAuthen()" class="button is-success">Sign in</button>
		</div>
	</div>

	<div id="regisForm" class="login-form" style="width: 380px;padding: 20px;border: 1px solid #00d1b2;border-radius: 8px; display:none">
		<div class="logo" style="display:flex; justify-content:center; align-items:center;">
			<img style="width: 86px;border-radius: 100px;" src="~/image/logo.png" />
		</div>

		<div class="block">
			<label for="Name">Họ tên</label>
			<input id="nameRegis" class="input is-primary" type="text" placeholder="Nguyễn Văn A" />
		</div>
		<div class="block">
			<label for="email">Email</label>
			<input id="emailRegis" class="input is-primary" type="email" placeholder="x.d email@gmail.com" />
		</div>
		<div class="block">
			<label>Password</label>
			<input id="passwordRegis" class="input is-primary" type="password" placeholder="********" />
		</div>
		<div class="block">
			<label>Password Confirm</label>
			<input id="repasswordRegis" class="input is-primary" type="password" placeholder="********" />
		</div>
		<div class="block">
			<label>Phone Number</label>
			<input id="phoneNumberRegis" class="input is-primary" type="text" placeholder="012345...." />
		</div>
		<div class="block" style="display: flex;justify-content: space-evenly;align-items: center;">
			<button onclick="onToggle()" class="button is-success is-light">Sign in</button>
			<button onclick="onRegis()" class="button is-success ">Registration</button>
		</div>
	</div>
</div>

<style>
	.layoutFixed {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		height: 100%;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>

<script>

	var loginForm = document.getElementById('loginform');
	var regisForm = document.getElementById('regisForm');

	var isFormSign = true;
	function onToggle(){
		var loginForm = document.getElementById('loginform');
		var regisForm = document.getElementById('regisForm');
		isFormSign = !isFormSign;
		if (isFormSign){
			loginForm.style.display = 'block';
			regisForm.style.display = 'none';
		}else {
		loginForm.style.display = 'none';
			regisForm.style.display = 'block';
		}
	}




	function onAuthen(){
		var email = document.getElementById('email').value;
		var password = document.getElementById('password').value;
		console.log(email,password);
		$.ajax({
			url: 'Authentication/Signin',
			type: 'GET',
			dataType: 'json',
			data:{
				email: email,
				password:password
			},
			success: function(response) {
				if (response.Status == "SUCCESS"){
					localStorage.setItem('userInfo',JSON.stringify(response.JsonData[0]));
					window.location.href = '@Url.Action("Index", "Home")';
				}else if (response.Status == "WARNING"){
					toastr.warning(response.Message, "Cảnh báo", {timeOut: 3000});
				}else {
					toastr.error(response.Message, "Cảnh báo", {timeOut: 3000});
				}
				
			},
			error: function(xhr, status, error) {
				console.log('Lỗi:', error);
			}
		})
	}

	function onRegis(){
		var obj = {};
		var UserName = document.getElementById('nameRegis').value;
		var Password = document.getElementById('passwordRegis').value;
		var Email = document.getElementById('emailRegis').value;
		var PhoneNumber = document.getElementById('phoneNumberRegis').value;
		var RePasswordRegis = document.getElementById('repasswordRegis').value;


		if (Password != RePasswordRegis){
			toastr.warning("Vui lòng nhập lại password!", "Cảnh báo", {timeOut: 3000});
			return;
		}


		console.log(obj);
		$.ajax({
			url: 'Authentication/Registration',
			type: 'POST',
			dataType: 'json',
			contentType: 'application/json',
			data:JSON.stringify({
				UserName: UserName,
				Password: Password,
				Email: Email,
				PhoneNumber: PhoneNumber
			}),
			success: function(response) {
				console.log(response);
				if (response.Status == "SUCCESS"){
					toastr.success(response.Message, "Thành công", {timeOut: 3000});
					setTimeout(()=>{
					  //window.location.href = '@Url.Action("Index", "Authentication")';
					},3000)
				}else if (response.Status == "WARING"){
					toastr.warning(response.Message, "Cảnh báo", {timeOut: 3000});
				}else {
					toastr.error(response.Message, "Lỗi", {timeOut: 3000});
				}
			},
			error: function(xhr, status, error) {
				console.log('Lỗi:', error);
			}
		})


	}
</script>